{% extends 'ecom_admin/admin_master.html' %}
{% load static %}


{% block content %}
<style>

    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse:collapse;
        width: 100%;
      }
      
      #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 3px;
        font-size: 1rem;
      }
      
      #customers tr:nth-child(even){background-color: #f2f2f2;}
      
      #customers tr:hover {background-color: #ddd;}
      
      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #04AA6D;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
      }
    
      </style>
<div class="container">
<h1 style="text-align: center;font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif;color: brown;">Approve Resellers</h1><br>
<form class="product-form"  >

    <table id="customers">
        <tr>
            <th>Sl.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Account No</th>
            <th>Action</th>           
            
        </tr>
        {% for reseller in pending %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{reseller.s_name}}</td>
            <td>{{reseller.email}}</td>
            <td>{{reseller.mobile}}</td>
            <td>{{reseller.account_no}}</td>
            <td><a href="{% url 'ecom_admin:r_approve' reseller.id %}" class="btn">Approve</a></td>            
             
        </tr>
       {% endfor %}
       
      </table> 

</form>
</div>
{% endblock %}